@model SalesWebMvc.Models.ViewModels.SellerFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr /> @*Pular linha*@
<div class="row">
    @*row faz parte do bootstrap e garante que a div ocupe a tela*@
    <div class="col-md-4">
        @*Faz o formulario ocupar 1/3 da tela (divida em 12)*@
        <form asp-action="Edit">
            <input type="hidden" asp-for="Seller.Id" />
            @*Cria um formulario que chama a ação create no metodo POST*@
            <div class="mb-3">
                <label asp-for="Seller.Name" class="form-label">Name</label>
                <input asp-for="Seller.Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Seller.Email" class="form-label">Email</label>
                <input asp-for="Seller.Email" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Seller.BirthDate" class="form-label">BirthDate</label>
                <input asp-for="Seller.BirthDate" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Seller.BaseSalary" class="form-label">BaseSalary</label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Seller.DepartmentId" class="control-label">Department</label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
            </div>
            <p>
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </p>
        </form>
    </div>
</div>